@tailwind base;
@tailwind components;
@tailwind utilities;

.visual-cards {
  overflow: hidden;
}
.visual-cards-card {
  transition: all 0.3s;
}
.visual-cards-card:hover {
  transform: scale(1.1);
}


.box {
  overflow: hidden;
}
.box-card {
  transition: all 0.3s;
  object-fit: cover;
}
.box-card:hover {
  transform: scale(1.2);
}

.gallery:hover span{
    right: 0;

}
.hamburger-x{
    fill: #dedede;
}
.hamburger-x:hover{
    fill: #9d9d9d;
}
.hero2{
  background-image: url(./img/hero2/hero2.png);
  background-size: cover;
  width: 100%;
  height: 640px ;
  margin-left: auto;
  margin-right: auto;
}

.proimg{
  background-size: contain;
}


.concImg:hover{
  transform: scale(1.05);
  transition: all .4s;
}
.prototypeImg:hover{
  transform: scale(1.05);
  overflow: hidden;
  transition: all .3s;
}