@tailwind base;
@tailwind components;
@tailwind utilities;

.visual-cards {
}
.visual-cards-card {
  transition: all 0.3s;
  object-fit: cover;
}
.visual-cards-card:hover {
  margin-top: -12px;
}


.box {
  overflow: hidden;
}
.box-card {
  transition: all 0.3s;
  object-fit: cover;
}
.box-card:hover {
  transform: scale(1.2);
}

.gallery:hover span{
    right: 0;

}
.hamburger-x{
    fill: #dedede;
}
.hamburger-x:hover{
    fill: #9d9d9d;
}